{% extends 'base.html' %}

{% block body %}

    {% if current_user.status != 1 %}
        <div class="invite">
            Пригласить {{ ['майнера', '', 'партнера'][current_user.status] }}
            <div class="invite-link">
                {{ config.SITE_URL }}?invite={{ current_user.invite }}
            </div>
        </div>
    {% endif %}

    {% if current_user.status != 1 %}
        <div class="coin-nav">
            Выберите пул:
            {% for item in pools %}
                <a href="?pool={{ item.id }}">{{ item.coin.type }}</a>
            {% endfor %}
        </div>

        {% if request.args.get('pool') %}
            {% if statistic %}
                <table>
                    <tr>
                        <th>Имя владельца</th>
                        <th>Адрес кошелька</th>
                        <th>Баланс</th>
                        <th>Мощность воркеров</th>
                    </tr>
                    {% for item in statistic %}
                        <tr>
                            <td>
                                <a href="?partner={{ item.user.id }}">{{ [item.user.first_name, item.user.last_naem] | join(' ') }}</a>
                            </td>
                            <td>{{ item.user.purse }}</td>
                            <td>{{ item.statistic.pendingBalance }}</td>
                            <td>
                                {% for performance in item.statistic.performanceSamples %}
                                    {% for key in performance.workers %}
                                        <div>{{ performance.workers[key].hashrate }}</div>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Данных нет</p>
            {% endif %}

        {% endif %}
    {% else %}
        {% if statistic %}
            {% for item in statistic %}
                <h1>Баланс кошелька: {{ item.statistic.pendingBalance }}</h1>

                {% if item.statistic.performanceSamples %}
                    <h4>Мощность воркеров</h4>
                    {% for performance in item.statistic.performanceSamples %}
                        {% for key in performance.workers %}
                            <div>{{ performance.workers[key].hashrate }}</div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

            {% endfor %}

            </table>
        {% else %}
            <p>Данных нет</p>
        {% endif %}

    {% endif %}
{% endblock %}