{% extends 'auth-base.html' %}


{% from 'components/form-field/form-field.html' import FormField %}

{% block body %}
    <form method="post">
        {{ FormField(form.email, label="Логин") }}

        {{ FormField(form.password, label="Пароль") }}

        {% if user_not_found %}
            <div class="error">Пользователь не найден</div>
        {% endif %}

        <div class="text-center">
            <button class="btn">Войти</button>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <a href="/registration/" class="btn">Регистрация</a>
{% endblock %}