{% extends 'auth-base.html' %}

{% from 'components/form-field/form-field.html' import FormField %}

{% block body %}
    {% if is_saved %}
        <div class="text-center">На указанный Email отпавлено письмо, для подтверждения регистрации</div>
    {% else %}
        <form method="post">
            <label class="input__label">Тип аккаунта</label>
            <select class="select" name="status">
                <option value="2">Грандпартнёр</option>
                <option value="0">Партнер</option>
                <option value="1">Майнер</option>
            </select>

            {{ FormField(
                form.first_name,
                label="Имя"
            ) }}

            {{ FormField(
                form.last_name,
                label="Фамилия"
            ) }}

            {{ FormField(
                form.phone,
                label="Номер телефона"
            ) }}

            {{ FormField(
                form.organization,
                label="Организация"
            ) }}

            {{ FormField(
                form.email,
                label="Логин (E-mail)"
            ) }}

            {{ FormField(
                form.password,
                label="Пароль"
            ) }}

            {{ FormField(
                form.confirm,
                label="Подтверждение"
            ) }}

            <div class="text-center">
                <button class="btn">Регистрация</button>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block footer %}
    <a href="/login/" class="btn">Вход</a>
{% endblock %}