{% extends 'base.html' %}

{% from 'components/form-field/form-field.html' import FormField %}

{% block body %}
    <h1>Настройки</h1>

    <table>
        <tr>
            <td width="50%">
                <h3>Оснавные настройки</h3>
                <form method="post">
                    <div>
                        {{ FormField(form.first_name, label="Имя") }}
                        {{ FormField(form.last_name, label="Фамилия") }}
                    </div>

                    {{ FormField(form.organization, label="Организация") }}

                    <div>
                        {{ FormField(form.phone, label="Телефон") }}
                        {{ FormField(form.email, label="Email") }}
                    </div>

                    <div class="purse">
                        <select name="purse_type">
                            {% for item in pools %}
                                <option value="{{ item.id }}"
                                        {% if current_user.purse_type == item.id %}selected="selected"{% endif %}>
                                    {{ item.coin.type }}
                                </option>
                            {% endfor %}
                        </select>
                        {{ FormField(form.purse, label="Адресс кошелька") }}
                    </div>

                    <button class="btn">Созранить</button>
                </form>
            </td>
            <td>
                <h3>Изменить пароль</h3>
                <form method="post">
                    <div>
                        {{ FormField(form_password.old_password, label="Старый пароль") }}
                    </div>
                    <div>
                        {{ FormField(form_password.password, label="Новый пароль") }}
                    </div>
                    <div>
                        {{ FormField(form_password.confirm, label="Подтвердите пароль") }}
                    </div>

                    <button class="btn">Изменить пароль</button>
                </form>
            </td>
        </tr>
    </table>

{% endblock %}