{% macro FormField(field, label=None) %}
    <div class="input-box">
        {% if label %}
            <label class="input__label">{{ label }}</label>
        {% endif %}

        {{ field(class="input") }}

        {% if field.errors %}
            <div class="input__errors">
                {% for item in field.errors %}
                    {{ item }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}