body,
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 14px;
    font-family: Arial;
    background: #283142;
}


.box {
    width: 300px;
}

.box__header {
    text-align: center;
    margin-bottom: 25px;
}

.box__header img {
    width: 160px;
}

.box__body {
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.5);
}

.box__footer {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.box__footer a {
    color: #fff;
}

.box__footer a:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: #1c74bb;
    border: none;
}

a.btn {
    height: 30px;
    line-height: 30px;
}

.text-center {
    text-align: center;
}

.error {
    color: red;
}

.status {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 15px;
}