body {
    font-family: Arial;
    font-size: 14px;
}

.wrap {
    padding: 0 30px;
}

.header {
    height: 50px;
    line-height: 50px;
    background: #283142;
}

.header:after {
    content: '';
    display: block;
    clear: both;
}

    .header__logo {
        float: left;
        padding: 12px 0;
        text-decoration: none;
    }

    .header__logo img {
        display: block;
        width: 120px;
    }

    .header__menu {
        margin: 0 0 0 150px;
    }

    .header__menu-item {
        float: left;
        height: 50px;
        padding: 0 15px;
        text-decoration: none;
        color: #fff;
    }

    .header__menu-item._active {
        text-shadow: 0 1px 1px #000;
        background: rgba(255,255,255,0.2);
    }

    .header__user {
        float: right;
        margin-right: 25px;
        color: #bbb;
    }

    .header__logout {
        float: right;
        color: #eee;
        text-decoration: none;
    }

.body {
    padding: 25px 0;
}

.invite {
    margin-bottom: 25px;
}

.invite-link {
    display: inline-block;
    padding: 5px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #333;
    border: 1px solid #ccc;
    background: #f7f7f7;
}

table {
    width: 100%;
}

th {
    font-weight: normal;
    color: #fff;
    background: rgba(25, 33, 49, 0.5);
}

th, td {
    padding: 10px 15px;
    vertical-align: top;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: #1c74bb;
    border: none;
}

.input-box {
    display: inline-block;
    width: auto;
    min-width: 30%;
}

.purse .input-box {
    width: 60%;
}

.coin-nav {
    margin-bottom: 20px;
}