.input__label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.input:focus {
    outline: none;
    border-color: #28e794;
}

.input__errors {
    margin: -10px 0 15px;
    font-size: 13px;
    color: red;
}

.input__required {
    color: red;
}


.select {
    display: inline-block;
    margin-bottom: 15px;
    position: static;

    height: 35px;
    width: 100%;
    padding: 0 30px 0 10px;
    font-weight: normal;
    font-size: 14px;
    color: rgb(65, 64, 66);
    box-sizing: border-box;
    border: 1px solid #ccc;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;

    text-overflow: "";
    text-indent: 0.01px;
    border-radius: 0;

    background: url("/static/down-arrow.svg") no-repeat calc(100% - 10px) center #FFF;
}