<!DOCTYPE html>
<html>
    <head>
        <title>MineRussia.com - Национальный Майнинговый Пул: Вход</title>
        <link rel="icon" href="{{ url_for('static', filename="favicon.ico") }}" type="image/x-icon" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/form-field.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
    </head>
    <body>
        <div class="box">
            <div class="box__header">
                <img src="{{ url_for('static', filename="logo.svg") }}"/>
            </div>
            <div class="box__body">
                {% block body %}{% endblock %}
            </div>
            <div class="box__footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </body>
</html>