<!DOCTYPE html>
<html>
    <head>
        <title>MineRussia.com - Национальный Майнинговый Пул</title>
        <link rel="icon" href="{{ url_for('static', filename="favicon.ico") }}" type="image/x-icon" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form-field.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    </head>
    <body>
        <div class="header">
            <div class="wrap">
                <a href="/logout/" class="header__logout">Выход</a>

                <span class="header__user">
                    {{ current_user.first_name }}
                    {{ current_user.last_name }}
                    {{ ['Партнер', 'Майнер', 'Грандпартнер'][current_user.status] }}
                </span>

                <a href="/" class="header__logo">
                    <img src="{{ url_for('static', filename="logo.svg") }}"/>
                </a>

                <div class="header__menu">
                    <a href="/" class="header__menu-item {{ '_active' if request.path == '/' }}">
                        Партнеры
                    </a>
                    <a href="/settings/" class="header__menu-item {{ '_active' if request.path == '/settings/' }}">
                        Настройки
                    </a>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="wrap">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>